In [1]:
import pandas as pd

In [2]:
members = ["Turkey", "Russia", "Brasil"]
brics1 = pd.Series(members)
brics1

0    Turkey
1    Russia
2    Brasil
dtype: object

In [4]:
members = { "country": ["Brazil", "Turkey", "Russia"],
           "capital" : ["Brasilia", "Ankara", "Moscow"],
           "population" : [210.87, 87.3, 143.96] }
brics2 = pd.DataFrame(members)
brics2

  country   capital  population
0  Brazil  Brasilia      210.87
1  Turkey    Ankara       87.30
2  Russia    Moscow      143.96

In [5]:
type(brics2)

pandas.core.frame.DataFrame